@font-face {
  font-family: "Bungee";
  src: url(/fonts/Bungee-Regular.woff) format("woff"),
    url(/fonts/Bungee-Regular.woff2) format("woff2");
  font-weight: 400;
  font-weight: normal;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vw;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb400;
  flex-flow: column;
}

.status {
  color: #00204b;
  font-family: "Bungee";
  font-size: 3vw;
  /* padding-top: 2rem;
  padding-bottom: 7rem; */
}

/* .wifi__container {
  border-top: 10vw solid #FF8019;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  height: 0;
  width: 10vw;
  position: fixed;
  z-index: 3;
  left: calc(50vw - 10vw);

  border-radius: 5px;
} */

.wifi__container {
  background-image: url("./assets/Rectangle.svg");
  width: 119px;
  height: 45px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  left: calc(50vw - 56px);
  /* left: 279px;
  top: 0px; */
}

.fullscreen__button,
.refresh {
  z-index: 5;
  background-color: transparent;
  border: none;
  font-family: "Bungee";
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 1rem;
  outline: none;
}

.fullscreen__button {
  color: #00204b;
  background-color: #ffb400;
}

.layout__button {
  margin-left: 10rem;
}

.refresh {
  background-color: #00204b;
  color: #ffb400;
}

.fullscreen__button {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 0.8rem;
}

.refresh {
  margin-top: 2rem;
  font-size: 2rem;
}

.wifi {
  position: fixed;
  top: 5px;
}

.nipple2 {
  background-image: url("./assets/stuur.svg");
  background-repeat: no-repeat;
  background-size: 25vw;
  background-position: center;

  width: 50vw;
  /* z-index: -10; */
  position: fixed;
  background-color: #00204b;
}

.nipple1 {
  background-image: url("./assets/camera.svg");
  background-repeat: no-repeat;
  background-size: 25vw;
  background-position: center;
  background-color: #ffb400;
  width: 50vw;
  /* z-index: 10; */
  position: fixed;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.portrait {
  display: none;
}

@media screen and (orientation: portrait) {
  .landscape {
    display: none;
  }

  .portrait {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #ffb400;
  }

  .portrait__tekst {
    color: #00204b;
    font-family: "Bungee";
    font-size: 8vw;
    padding-top: 2rem;
    padding-bottom: 7rem;
  }
}
